header {
    padding: 10px 0;
}
.header_menu {
    float: right;
}
.header_menu .help i {
    background: #C4C4C4;
    color: white;
    padding: 6px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
.header_menu .help i:hover {
    background: #377dff;
}
.sidebar {
    padding: 12px 0;
}
.content {
    background: #F5F6FA;
    border-radius: 20px;
    padding: 10px 10px;
}
.content h2 {
    font-size: 22px;
    margin: 5px 3px 15px;
}
.auto_details_box {
    background: #EBF2FC;
    padding: 15px 20px;
    margin-top: 6px;
    border-radius: 10px;
}
.auto_details_box  p{
    margin: 0;
}
.detail_box {
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
}
.detail_box h4 {
    color: #B2B2B2;
    font-size: 15px;
    font-weight: 400;
}
.detail_box .detail_c {
    display:flex;
    align-items: flex-end;
}
.detail_c p {
    margin-left: auto;
}
.form_box{
    padding: 10px 15px;
    margin: 10px 5px;
}
.form_box label {
    font-size: 15px;
    font-weight: 500;
}
.form_box .colbox [class*="col-"] {
    padding: 2px;
}
.form_box input {
    border: 0px solid #f1f3f5;
    background: #FAFBFC;
    border-radius: 0;
}
.form_box input:focus {
    border: 1px solid #f1f3f5;
    background: #FAFBFC;
}
.form_box select {
    border: 0px solid #f1f3f5;
    background: #FAFBFC;
    border-radius: 0;
}
.form_box select:focus {
    background: #FAFBFC;
}
/* sidebar navigation */
.side_nav {
    list-style: none;
    padding: 0px 10px;
}
.side_nav li {
    margin: 10px 0px;
}
.side_nav li i {
    padding: 7px 2px;
    font-size: 14px;
}
.side_nav a {
    text-decoration: none;
    color: #B2B2B2;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
}
.side_nav a:hover {
    background: #377DFF;
    color:white !important;
    text-decoration: none;
}
.side_nav a.active {
    background: #377DFF;
    color: white !important;
    text-decoration: none;
}
.side_nav ul {
    list-style: none;
    margin: 0;
    margin-left: 3px;
    padding-left: 0;
    border-left: 1px solid #ebebeb;
}
.login-form {
   margin-top: 4%;
}
.login-form .btn {
    background: #377DFF;
}
.form-control:focus {
    box-shadow: none !important;
}
.pr_40 {
    padding-right: 40px !important;
}
.sislac_table thead {
    background:#EBF2FC;
}
.sislac_table thead th{
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6 !important;
    box-shadow: none;
    border-top: 0px solid !important;
    font-weight: 500;
    font-size: 15px;
}